.grid-container {
	display: grid;
	grid-template-columns: auto max-content auto;
	grid-template-rows: 9fr 1fr;
	height: 100vh;
	gap: 10px;
}

.grid-container div {
  background-color: red;
  color: #fff;
  text-align: center;
}