.grid-container {
	display: grid;
	grid-template-columns: auto max-content auto;
	grid-template-rows: 9fr 1fr;
	height: 100vh;
	gap: 10px;
}

/*** CARD DISPLAY ***/

#card-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#card-display img {
	height: 70vh;
	border-radius: 20px;
  	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

#card-display img.empty {
	opacity: .2;
	box-shadow: none;
	border: 2px solid #000;
}