body {
	margin: 0;
	background-image: url("./assets/bg-imperium.jpg");
	background-color: #ffffff;
	height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
