.nav-bottom {
	display: flex;
	justify-content: center;
	align-content: center;
}

.nav-bottom ul {
	width: 100%;
	background-color: #383d40;
	display: flex;
	gap: 30px;
	list-style: none;
	justify-content: center;
	padding: 20px 30px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.nav-bottom ul svg {
	height: 30px;
	fill: #a2d2e7;
}

.nav-divider {
	border-left: 1px solid #ffffff12;
	border-right: 1px solid rgba(0, 0, 0, 0.118);
}